# Dependencies
node_modules/
backend/.venv/

# Environment variables
frontend/.env
frontend/.env*.local
backend/.env

# Cached output files
frontend/.next/
frontend/out/
__pycache__/
*.pyc

# Local VSCode settings
.vscode/

# Local machine settings
.DS_Store

# Data files
ml/data/

# Checkpoint training model
ml/models/checkpoint.pth